# Ignore specific files and directories
bin/
etc/
tmp/
usr/
laragon.exe

# Ignore specific directory contents but not the directory itself
data/mysql-8/*
www/*

# Include specific subdirectories
!data/mysql-8/florascan_database/
!www/assign2/
