.dld_body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "dld_samsungsharpsans", "dld_samsungsharpsans_medium", "dld_samsungsharpsans_bold", sans-serif;
}
@font-face {
    font-family: "dld_samsungsharpsans";
    src: url("dld/Fonts/dld_samsungsharpsans.otf") format("opentype");
}
@font-face {
    font-family: "dld_samsungsharpsans_medium";
    src: url("dld/Fonts/dld_samsungsharpsans-medium.otf") format("opentype");
}
@font-face {
    font-family: "dld_samsungsharpsans_bold";
    src: url("dld/Fonts/dld_samsungsharpsans-bold.otf") format("opentype");
}
.dld_navigation_bar_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 5vw;
    margin-right: 7.5vw;
}
.dld_navigation_bar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* pointer-events: none; */
}
.dld_navigation_bar_list li {
    display: inline;
}
.dld_navigation_bar_list a {
    text-decoration: none;
    color: white;
    margin-right: 3vw;
    font-size: 1vw;
}
.dld_navigation_bar_list_most_right_item a {
    margin: 0;
}
.dld_video_container {
    height: 43.1vw;
}
.dld_video_container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48.1vw;
    object-fit: cover;
    z-index: -2;
}
.dld_video_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48.1vw;
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    z-index: -1;
}
.dld_video_text_container {
    height: 43.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dld_video_text_container p {
    margin-top: 0;
    margin-bottom: 5vw;
    padding: 0;
    color: white;
}
.dld_video_text_1 {
    font-size: 4vw;
    font-family: "dld_samsungsharpsans_bold", sans-serif;
    margin-left: 9.75vw;
}
.dld_divider {
    width: 0.25vw;
    height: 10vw;
    background-color: white;
    margin: 0 3vw;
    margin-bottom: 5vw;
}
.dld_video_text_2 {
    font-size: 2vw;
    font-family: "dld_samsungsharpsans_medium", sans-serif;
    margin-right: 9vw;
}
.dld_selector_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 43.1vw;
    position: relative;
    background-image: url('plant-background-for-ctip.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}
@keyframes bounceDown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
}
.dld_selector {
    width: 10vw;
    height: 27.5vw;
    background-color: rgb(25, 25, 25);
    margin: 0 1vw;
    transform: skew(-20deg);
}
.dld_selector p {
    color: white;
    text-align: center;
    line-height: 25.46vw;
    font-size: 1vw;
}