/* dld's index.html */

@font-face {
    font-family: "dld_samsungsharpsans";
    src: url("fonts/dld/dld_samsungsharpsans.otf") format("opentype");
}

@font-face {
    font-family: "dld_samsungsharpsans_medium";
    src: url("fonts/dld/dld_samsungsharpsans_medium.otf") format("opentype");
}

@font-face {
    font-family: "dld_samsungsharpsans_bold";
    src: url("fonts/dld/dld_samsungsharpsans_bold.otf") format("opentype");
}

/* dld_body */
.dld_b {
    margin: 0;
    padding: 0;
    font-family: "dld_samsungsharpsans", "dld_samsungsharpsans_medium", "dld_samsungsharpsans_bold", sans-serif;
}

/* dld_top_navigation_bar */
.dld_tnb {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 5vw;
    margin-left: 44vw;
}

/* dld_top_navigation_bar_list */
.dld_tnbl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dld_tnbl li {
    display: inline;
}

.dld_tnbl a {
    text-decoration: none;
    color: white;
    margin-right: 1vw;
    font-size: 1vw;
    font-family: "dld_samsungsharpsans_medium", sans-serif;
}

/* dld_top_navigation_bar_item */
.dld_tnbi {
    padding: 0.5vw 1vw;
    border-radius: 2vw;
    transition: color 0.5s ease-out, background-color 0.25s ease-out;
}

.dld_tnbi:hover {
    color: black;
    background-color: white;
}

/* dld_top_navigation_bar_most_right_item */
.dld_tnbmri a {
    margin-right: 0;
}

/* dld_section_1 */
.dld_s1 {
    height: 45vw;
}

.dld_s1 video {
    position: absolute;
    top: 0;
    width: 100%;    
    height: 50vw;
    object-fit: cover;
    z-index: -1;
}

/* dld_section_1_text_container */
.dld_s1tc {
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dld_s1tc p {
    margin-top: 0;
    margin-bottom: 8.6vw;
    color: white;
}

/* dld_section_1_text_1 */
.dld_s1t1 {
    font-size: 4vw;
    font-family: "dld_samsungsharpsans_bold", sans-serif;
    margin-left: 18.49vw;
    background-image: -webkit-linear-gradient(125deg, #f2291b, #f7db25, #84f527);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* dld_section_1_text_1_hue */
    -webkit-animation: dld_s1t1h 15s infinite linear;
    animation: dld_s1t1h 15s infinite linear; 
}

/* dld_section_1_text_hue */
@keyframes dld_s1t1h {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

/* dld_section_1_text_divider */
.dld_s1td {
    width: 0.1vw;
    height: 12.5vw;
    background-color: white;
    margin: 0 3vw;
    margin-bottom: 8.9vw;
}

/* dld_section_1_text_2 */
.dld_s1t2 {
    font-size: 2vw;
    font-family: "dld_samsungsharpsans_medium", sans-serif;
    margin-right: 13vw;
}

/* dld_main */
.dld_m {
    display: flex;
}

/* dld_side_navigation_bar */
.dld_snb {
    background-color: black;
    position: sticky;
    top: 1vw;
    padding: 1vw;
    margin: 1vw;
    height: 29.55vw;
    border-radius: 2vw;
    z-index: 1;
}

.dld_snb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dld_snb ul li {
    margin-bottom: 1vw;  
    transition: transform 0.5s ease;
}

.dld_snb ul li:hover {
    transform: translateX(0.5vw);
    background-color: white;
    border-radius: 1vw;
}

/* dld_side_navigation_bar_item */
.dld_snbi::after {
    content: attr(data-text);
    position: absolute;
    left: 76%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.25s ease;
    font-family: "dld_samsungsharpsans";
    font-size: 1vw;
    padding: 0.81vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.dld_snbi {
    background: white;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 1vw;
}

.dld_snbi:hover::after {
    opacity: 1;
}

.dld_snbit {
    color: white;
}

/* dld_section_3_container */
.dld_section_3_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52vw;
    position: relative;
    background-color: lightgrey;
    flex-wrap: wrap;
}

.dld_section_4_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52vw;
    position: relative;
    background-color: lightgrey;
}

.dld_section_5_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52vw;
    position: relative;
    background-color: lightgrey;
}

.dld_group_1 {
    width: 100%;
}

.dld_section_3_cards {
    width: 35vw;
    height: 10vw;
    background-color: #C5EAFA;
    border-radius: 2vw;
    margin: 0.5vw;
    border: 0.2vw solid transparent;
    transition: border-color 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dld_section_3_cards:hover {
    border: 0.2vw solid white;
}


.dld_card_1 {
    margin-top: 8vw;
}

.dld_card_3 {
    margin-bottom: 8vw;
}

.dld_rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    height: 1vw;
    background-color: #444444;
}

/* Edison's explorer.html */
.czy_body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #090909;
    background-color: #090909;
    font-family: "dld_samsungsharpsans", "dld_samsungsharpsans_medium", "dld_samsungsharpsans_bold", sans-serif;
}

.czy_bg{
    position: fixed;
    background-image: url("images/czy/very_nice_bg.png");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: invert(100%);
}

.czy_content{
    transform: translate(31vw, 13vw);
}

.czy_content_header{
    font-size: 3vw;
    font-family: "dld_samsungsharpsans_bold";
}

.czy_cards{
    transform: translate(32vw, 17vw);
    font-size: 2vw;
    font-family: "dld_samsungsharpsans_medium";
}

.czy_triangle{
    transform: translate(-5.1vw, -21.7vw) rotate(-30deg);
    -webkit-text-stroke: 0.15vw white;
    color: transparent;
    font-size: 1.5vw;
}

.czy_families_content, .czy_cards_genera, .czy_cards_species{
    color: white;
    border-radius: 2vw;
    padding-left: 4vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

    margin-bottom: 1.5vw;
    background: linear-gradient(135deg, #444444, transparent 45%);
}

.czy_families_content:hover, .czy_cards_genera:hover, .czy_cards_species:hover{
    cursor: crosshair;
}

.czy_btn{
    display: none;
}



.czy_axis{
    transform: translate(27vw, -6vw);
    display: block;
}

.czy_axis_centre{
    position: relative;
    width: 3vw;
    height: 3vw;
}

.czy_axis_centre::before{
    position: absolute;
    top: calc(50% - 0.5vw);
    left: calc(50% - 0.5vw);
    box-sizing: border-box;
    width: 1.2vw;
    height: 1.2vw;
    content: "";
    border: 0.25vw solid #090909;
    border-radius: 2vw;
}

.czy_axis_left{
    right: 100%;
    position: absolute;
    top: 50%;
    width: 30vw;
    height: 0.2vw;
    background: linear-gradient(-90deg, #090909, transparent 80%);
}

.czy_axis_right{
    left: 100%;
    position: absolute;
    top: 50%;
    width: 70vw;
    height: 0.2vw;
    background: linear-gradient(90deg, #090909, transparent 95%);
}

.czy_axis_top{
    bottom: 100%;
    position: absolute;
    left: 50%;
    width: 0.2vw;
    height: 18vw;
    background: linear-gradient(0deg, #090909, transparent 80%);
}

.czy_axis_bottom{
    top: 100%;
    position: absolute;
    left: 50%;
    width: 0.2vw;
    height: 100vh;
    background: #090909;
}



/* Ashley's contributor.html */

.ash_body{
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: "dld_samsungsharpsans", "dld_samsungsharpsans_medium", "dld_samsungsharpsans_bold", sans-serif;
}

.ash_section1{
    font-family: "dld_samsungsharpsans_bold", sans-serif;
    font-size: 2vw;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation:   */
}

.ash_section1_1{
    font-family: "dld_samsungsharpsans_medium", sans-serif;
    font-size: 1vw;
}

.ash_section1_2{
    font-family: "dld_samsungsharpsans_medium", sans-serif;
    font-size: 1vw;
}

/* @-webkit-keyframes {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
} */

/* testing for one contribution only */
.ash_container{
    width: 100vw; 
    background: white;
    overflow: hidden;
    border-radius: 0.46875vw;
    border: 0.15625vw solid white;
}

.ash_top_bar{
    width: 100%;
    height: 11.71875vw;
    padding: 3.90625vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ash_profile_img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.ash_profile_img img{
    position: absolute;
    /* top: ; */
    left: -5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
}

.ash_profile_img span{
    margin-left: 50px;
}

/*apa ini extra */
/* .ash_container{
    width: 100vw; 
    background: white;
    overflow: hidden;
    border-radius: 0.46875vw;
    border: 0.15625vw solid white;
}

.ash_posted_img{
    width: 640px;
    height: 640px;
    margin-bottom: 15px;
}

.ash_posted_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ash_post_footer{
    padding-left: 16px;
    padding-right: 16px;
}

.ash_post_icon{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.ash_post_icon .fa{
    font-size: 24px;
}

.ash_post_icon_left .fa{
    margin: 0px 3px;
    color: #222021;
}

.ash_post_caption p{
    padding: 5px 0;
}

/* .ash_comments p{
    font-size: 14px;
    color: burlywood;
    padding: 5px 0;
    padding-bottom: 10px;
} */

.ash_comment_container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.ash_input_field{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

/* testing 2 */
/* :root{
    --surface-color: #fff;
    --curve: 40;
}

*{
    box-sizing: border-box;
}

.ash_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2 rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.ash_card{
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve)*1px);
    overflow: hidden;
    text-decoration: none;
}

.ash_card_img{
    width: 100%;
    height: auto;
}

.ash_card_overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: cal(var(--curve)*1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.ash_card:hover .ash_card_overlay{
    transform: translateY(0);
}

.ash_card_header{
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: cal(var(--curve)*1px)0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.ash_card_arc{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.ash_card_arc path{
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z")
}

.ash_card:hover .ash_card_header{
    transform: translateY(0);
}

.ash_card_thumbnail{
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ash_card_title{
    font-size: 1em;
    margin: 0 0 .3em;
    color: #84f527;
}

.ash_card_tagline{
    display: block;
    margin: 1em 0;
    font-size: .8em;
    color: #f2291b;
}

.ash_card_status{
    font-size: .8em;
    color: #f7db25;
}

.ash_card_description{
    padding: 0 2em 2em;
    margin: 0;
    color: #f7db25;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
} */

/* Tzy Lynn's identify.html */

.ttl_body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "dld_samsungsharpsans", "dld_samsungsharpsans_medium", "dld_samsungsharpsans_bold", sans-serif; 
}

/* .ttl_text_container1{
    width: 20vw;
    height: 20vh;
    margin-left: 5vw;
    margin-top: 2vh;
    float: left;
    display: inline;
}

.ttl_text_container1 h1 {
    opacity: 0;
    font-family: "dld_samsungsharpsans_bold", sans-serif;
    background: -webkit-linear-gradient(125deg, #f2291b, #f7db25, #84f527);
    font-size: 5vw;  
    width: 42vw;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    animation: shring-animation 3s steps(50,end) 2s forwards, change_gradient 15s infinite linear;
}

@keyframes change_gradient{
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@keyframes shring-animation {
    0% {
      opacity: 0;
      width: 0;
    }
    1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}
  
.ttl_text_container1 p {
    text-align: justify;
    color: white;
    font-size: 2vw;
}

.ttl_img_container{
    float: right;
    display: inline;
    margin-top: 5vw;
    margin-right: 5vw;
}

.ttl_curve{
    background-color: aliceblue;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    border-radius: 50%;
    width: 50vw;
    height: 60vh;
    animation: morph 3s linear infinite;
    overflow: hidden;
}

@keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.ttl_upload-btn-wrapper {
    position: relative;
    left: 6vh;
    top: -10vw;
    padding: 20px;
    overflow: hidden;
    display: inline-block;
}

.ttl_btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 2vw;
    font-family: "dld_samsungsharpsans", sans-serif;
}

.ttl_upload-btn-wrapper input[type=file] {
    font-size: 2vw;
    position: relative;
    left: -15vw;
    top: 0;
    opacity: 0;
} */

.ttl_slider_container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vw;

}

.ttl_slider_container .ttl_slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    animation: ttl_animate 25s linear infinite;
}

@keyframes ttl_animate{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}

.ttl_slide_slide1, .ttl_slide_slide2, .ttl_slide_slide3, .ttl_slide_slide4{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}

.ttl_caption{
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding:  30px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    transition: 0.5s;
}

.ttl_title{
    font-family: "dld_samsungsharpsans_bold", sans-serif;
    background: -webkit-linear-gradient(125deg, #f2291b, #f7db25, #84f527);
    font-size: 6vw;  
    width: 42vw;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    transition: 0.5s;
    animation:ttl_change_gradient 15s infinite linear;
}

@keyframes ttl_change_gradient{
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.ttl_text{
    color: white;
    font-size: 2.5vw;
    transition: 0.5s;
}

.ttl_slide_slide1{
    background-image: url("../styles/images/ttl/ttl_slide1.jpg");
    background-size: cover;
    background-position: center;
}

.ttl_slide_slide2{
    background-image: url("../styles/images/ttl/ttl_slide2.jpg");
    background-size: cover;
    background-position: center;
}

.ttl_slide_slide3{
    background-image: url("../styles/images/ttl/ttl_slide3.jpg");
    background-size: cover;
    background-position: center;
}

.ttl_slide_slide4{
    background-image: url("../styles/images/ttl/ttl_slide4.jpg");
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px){
    .ttl_caption{
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding:  20px;
    }
}