html, body { 
    min-height: 100%; 
  }
  body {
    background: rgb(32, 32, 32);
    background-image: -webkit-radial-gradient(top, circle cover, rgb(40, 40, 40), black 80%);
    background-image: -moz-radial-gradient(top, circle cover, rgb(40, 40, 40), black 80%);
    background-image: -o-radial-gradient(top, circle cover, rgb(40, 40, 40), black 80%);
    background-image: radial-gradient(top, circle cover, rgb(40, 40, 40), black 80%);
  }