body {
    margin: 0;
    padding: 0;
}

.content {
    height: 2000px; /* Replace with your content's height */
    /* This creates space to scroll past */
}

.navbar {
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    position: fixed;
    top: -50px; /* Hide the navbar initially by moving it above the viewport */
    transition: top 0.3s; /* Add a smooth transition effect */
}

/* Show the navbar when scrolling past a certain point */
body.scrolled .navbar {
    top: 0;
}
